<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ubselcuk.styles.css" asp-append-version="true" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KBK373K2CH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-KBK373K2CH');
    </script>
</head>

<body>
    <header>
        <div class="menu">
            <ul>
                @* Todo: Add Tag Helper *@
                <li><a href="/Root/Index">root</a></li>
                <li><a href="/Blog/Index">blog</a></li>
                <li><a href="/About/Index">about</a></li>
            </ul>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div></div>
        <div>
            | <a target="_blank" href="mailto:ubselcuk@gmail.com">email</a>
            | <a target="_blank" href="https://www.instagram.com/unkeady/">instagram</a>
            | <a target="_blank" href="https://tr.linkedin.com/in/ubselcuk">linkedin</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
