header {
    margin-top: 25px;
}

footer {
    color: #dbdbdb;
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    margin-top: 25px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

.menu {
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    border-bottom: dashed 1px rgba(219, 219, 219, 0.9);
    margin-bottom: 25px;
}

.menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: right;
}

.menu ul li {
    display: inline;
    margin-left: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #dbdbdb;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #000;
    background-color: #dbdbdb;
}