<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ubselcuk.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                @* Todo: Add Tag Helper *@
                <li><a href="/Root/Index">root</a></li>
                <li><a href="/Blog/Index">blog</a></li>
                <li><a href="/About/Index">about</a></li>
            </ul>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div></div>
        <div>
            | <a target="_blank" href="mailto:ubselcuk@gmail.com">email</a>
            | <a target="_blank" href="https://www.instagram.com/unkeady/">instagram</a>
            | <a target="_blank" href="https://tr.linkedin.com/in/ubselcuk">linkedin</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
