@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>
<br />

<ul>
    <li>DD-MM-YYYY Post Title</li>
    <li>
        03-10-2024 <a href="javascript:void(0)" onclick="">The Internet Is Dead</a>
    </li>
    <li>
        10-07-2024 <a href="/Blog/AboutThisWebsite">About This Website</a>
    </li>
</ul>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}