@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>
<br />

<ul>
    <li>DD-MM-YYYY Post Title</li>
    <li>
        03-10-2024 <a href="javascript:void(0)" onclick="">The Internet Is Dead</a>
    </li>
    <li>
        10-07-2024 <a href="javascript:void(0)" onclick="">About This Website</a>
    </li>
</ul>

